body{
  background-color: #7FE9DE;
}

.type1{
  text-align: center ;
}

.type2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.type3{
  float: right;
  font-family: cursive;
  font-size:6pt;
  text-align: center;
}

.type4{
  text-align: center;
}

.type5{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.type6{
  float: right;
  font-family: cursive;
  font-size:6pt;
  text-align: center;
}

.type7{
  text-align: center;
}

.type8{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.type9{
  float: right;
  font-family: cursive;
  font-size:6pt;
  text-align: center;
}

.type10{
  text-align: center;
}


.type11{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}


.type12{
  float: right;
  font-family: cursive;
  font-size:6pt;
  text-align: center;
}


.type13{
  text-align: center;
}

.type14{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}


.type15{
  float: right;
  font-family: cursive;
  font-size:6pt;
  text-align: center;
}

.type16{
  text-align: center ;
}

.type17{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}


.type18{
   float: right;
  font-family: cursive;
  font-size:6pt;
  text-align: center;
}